/* Scrollable toolbar */
.header-toolbar-scroll {
    display: flex;
    height: 85px;
    align-items: flex-start;
    overflow-x: scroll;
}
.header-toolbar-scrolled:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -30px;
    width: 30px;
    height: 40px;
    box-shadow: 1px 0 0 rgba(0,0,0,0.15), 8px 0 8px -8px rgba(0,0,0,0.3);
}

/* Titles */
.header-title,
.toolbar-title {
    padding: 14px 0;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
}
.header-title {
    margin: 0 10px;
}
.toolbar-title {
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0;
    margin-right: 20px;
    white-space: nowrap;
    transition: opacity .25s;
}
.about-link {
    color: #FFF;
    padding: 7px 16px 9px 16px;
    text-decoration: none;
}
.toolbar-title.changing {
    opacity: 0.6;
}

/* Toolbar controls */
.toolbar-tools {
    display: flex;
    flex-shrink: 0;
    padding-right: 26px;
}
.toolbar-tools.hidden {
    display: none;
}

/* Filters */
.toolbar-filter {
    flex-shrink: 0;
    height: 18px;
    margin: 15px 0 0 7px;
    border: 1px solid #C0C0C0;
    border-radius: 8px;
    padding: 6px 13px 5px;
    white-space: nowrap;
    font-size: 15px;
    line-height: 17px;
    cursor: pointer;
}
.filter-role {
    border-color: #ABCDE0;
    background: #C0DBEB;
}
.filter-my {
    border-color: #C4C4C4 #C0C0C0 #BABABA;
    background: linear-gradient(to bottom, #FDFDFD, #F2F2F2);
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.filter-my:active {
    border-color: #F0C769;
}
.filter-my-selected {
    border-color: #F0C769;
    background: #FED676;
    box-shadow: none;
}

/* Room icons */
.toolbar-settings {
    flex-shrink: 0;
    margin: 7px 4px 0 10px;
    width: 48px;
    height: 48px;
    background: url('room/settings.svg') no-repeat 13px 13px;
    opacity: 0.75;
    cursor: pointer;
    transition: opacity .2s;
}
.hoverable .toolbar-settings:hover {
    opacity: 1;
}

/* Sticky date */
.header-date {
    position: absolute;
    top: 100%;
    right: 50%; /* overflow to left without scroll */
    height: 18px;
}
.header-date:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 100%;
    height: 28px;
    border-radius: 8px;
    background: #F1F1F1;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 1px 8px 0 rgba(0,0,0,0.20);
    clip: rect(10px, 250px, 40px, -10px);
}
.header-date-text {
    position: relative;
    top: -8px;
    left: 50%;
    padding: 6px 36px 7px;
    border-radius: 8px;
    background:
        url('room/calendar.svg') no-repeat 14px 9px,
        url('room/calendar.svg') no-repeat 100% 9px;
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
    color: #929292;
    cursor: pointer;
}
.header-date-text:active,
.hoverable .header-date-text:hover {
    color: #707070;
}
.header-date.hidden {
    visibility: hidden;
}

/* Entry overlay */
.entry-text {
    display: none;
    margin: 0 60px 0 40px;
    padding: 30px 0;
    color: #707070;
}
.entry-text h6 {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
}
.entry-spinner {
    padding-right: 32px;
    background: url('room/spinner.svg') no-repeat 100% 7px;
}
.entry-text a,
.entry-text .link {
    color: #1c768c;
}
.entry-wait .login-links {
    margin: 10px 0 0;
}
.search-failed-hall {
    margin: 10px 0 0;
}

/* Userpic */
.userpic {
    background-origin: border-box;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#main .userpic {
    width: 38px;
    height: 38px;
    background-size: 40px;
    border-radius: 4px;
}

/* Talk sections */
.talk-archive,
.talk-current {
    padding: 12px 0 14px;
}
.talk-previous,
.talk-next,
.talk-recent {
    margin: 0 5px;
    transition: opacity .25s;
}
.talk-next {
    border-bottom: 1px solid #B0B0B0;
}
.talk-recent {
    border-top: 1px solid #FFF;
}
.talk-load {
    margin: 0 15px;
    padding: 10px 0;
    border: 1px solid #E0E0E0;
    background: #E8E8E8;
    color: #808080;
    text-align: center;
    cursor: pointer;
}
.talk-load-arrow {
    position: absolute;
    color: #A0A0A0;
    margin: -2px 0 0 -18px;
}
.talk-previous {
    position: relative;
}
.talk-previous > .talk-load {
    padding-top: 28px;
    border-radius: 0 0 10px 10px;
    border-top: none;
}
.talk-next > .talk-load {
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}
.talk-recent > .talk-load {
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding-top: 15px;
}
.talk-next,
.talk-recent,
.talk-archive {
    display: none;
}
.talk-datepicker {
    position: absolute;
    top: 0;
    left: 15px;
    width: 76px;
    height: 100%;
    border-right: 1px solid #E0E0E0;
    background: url("room/calendar.svg") no-repeat 29px 21px;
    cursor: pointer;
}

/* Reply form */
.talk-reply {
    transition: box-shadow .5s;
}
.reply-warning {
	display: none;
    border-bottom: 1px solid #E6D4A5;
    padding: 11px 40px 11px 96px;
    background: #F5EDD3;
    box-shadow: 0 -1px 0 #E6D4A5;
    font-size: 15px;
    line-height: 16px;
    color: #C24F3E;
    cursor: default;
}
.reply-wrapper {
    position: relative;
    margin: 0 100px 0 28px;
    border: 1px solid transparent;
    padding: 8px 19px 6px 67px;
}
.reply-public {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 8px 3px 5px;
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    color: #B3ACA1;
    cursor: pointer;
}
.reply-private {
    border-color: #EDE8DA;
    border-radius: 4px;
    background: #F0ECE1;
}
.reply-private .reply-public {
    display: block;
}
.reply-wrapper .userpic {
    visibility: hidden;
    position: absolute;
    left: 11px;
    top: 8px;
    cursor: pointer;
}
.reply-recipient {
    display: none;
    padding-top: 0;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    word-wrap: break-word;
    color: #999382;
}
.reply-private .reply-recipient {
    display: block;
}
.reply-field {
    position: relative;
}
.reply-field textarea {
    display: block;
    width: 100%;
    height: 42px;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    resize: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: inherit;
}
.reply-private textarea {
    height: 22px;
}
.reply-send {
    position: absolute;
    right: 0;
    top: 10px;
    width: 90px;
    height: 58px;
    border-left: 1px dotted #C5C5C5;
    cursor: pointer;
}
.send-overflow {
    cursor: default;
}
.send-spinner,
.send-overflow .send-arrow {
    display: none;
}
.send-overflow .send-spinner {
    display: inherit;
}


/* Edit form */
.talk-edit {
    display: none;
    position: absolute;
    top: -3px;
    margin: 0 -8px 1px;
    border-radius: 3px;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0 1px 5px rgba(0,0,0,0.06), 0 0 0 1px rgba(0,0,0,0.05);
    opacity: 0;
}
.talk-edit textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 21px;
    margin: 3px 0;
    padding: 0 8px;
    border: none;
    background: transparent;
    resize: none;
    outline: none;
    -webkit-font-smoothing: inherit;
}
.talk-edit-warning {
	padding: 3px 8px 6px;
    font-size: 15px;
    line-height: 16px;
    color: #C24F3E;
    cursor: default;
}

.personal .talk-edit {
    background: #faf9f5;
}
.editing .msg-text {
    display: none;
}
.message .talk-edit {
    display: block;
}
.editing .talk-edit {
    position: relative;
    opacity: 1;
}

/* Disconnect */
.disconnected .talk-reply {
    box-shadow: 0 -1px 0 #ca3c30;
}

/* Random nickname hint */
.nickname-hint {
    display: none;
    position: relative;
    border-bottom: 1px solid #E6D4A5;
    padding: 11px 40px 11px 20px;
    background: #F5EDD3;
    box-shadow: 0 -1px 0 #E6D4A5;
    font-size: 15px;
    line-height: 16px;
    color: #73716A;
    cursor: default;
}
.nickname-hint:after {
    content: '';
    position: absolute;
    left: 50px;
    top: 100%;
    width: 20px;
    height: 10px;
    background: url('room/hint_arrow.svg') no-repeat;
}
.nickname-hint-value {
    color: #3D3C3A;
}
.nickname-hint-close {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: url('room/hint_close.svg') no-repeat 10px 10px;
    cursor: pointer;
}
.userpic-highlight {
    box-shadow: 0px 0px 8px 1px #F0D690;
}

/* Date */
.date {
    margin: -5px 5px 16px;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 #FFFFFF;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #999999;
}
.date-text {
    position: relative;
    top: 8px;
    padding: 0 14px;
    background: #F8F8F8;
    cursor: default;
}
.date:first-child {
    display: none;
}
.talk-splitted .date:first-child {
    display: block;
    border-bottom-color: transparent;
    box-shadow: none;
}

/* Speech */
.speech {
    position: relative;
    margin: 5px 100px 5px 28px;
    padding: 7px 20px 1px 68px;
}
.speech-author {
    position: relative;
    padding-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 16px;
    word-wrap: break-word;
}
.speech-author > .userpic {
    position: absolute;
    left: -56px;
    top: 2px;
    z-index: 1; /* overlay message dash */
    cursor: pointer;
}
.speech-author > .nickname {
    color: #1c768c;
    cursor: pointer;
}

/* Personal messages */
.speech.personal {
    border: 1px solid #EDE8DA;
    border-radius: 4px;
    padding: 6px 19px 0 67px;
    background: #F0ECE1;
}
.speech-recipient {
    color: #999382;
    cursor: pointer;
}

/* Message */
.message {
    position: relative;
}
.message:before {
    content: '';
    position: absolute;
    left: -34px;
    top: 12px;
    width: 16px;
    border-top: 1px solid #909090;
}
.msg-time {
    position: absolute;
    top: 5px;
    right: -80px;
    font-size: 12px;
    line-height: 14px;
    color: #B8B8B8;
}
.msg-text {
    margin: 0 0 7px;
    word-wrap: break-word;
}
.msg-text em {
    font-style: italic;
    font-family: 'PT Serif', 'Georgia', serif;
}

/* Nickname marker */
.with-my-name::after {
    content: '';
    position: absolute;
    top: 6px;
    left: -83px;
    width: 14px;
    height: 11px;
    background: url('room/to_me.svg') no-repeat;
}

/* Edit messages */
.msg-edit {
    margin-right: -20px;
    padding: 0 10px;
    cursor: pointer;
    background: url("room/edit_message.svg") no-repeat 6px 7px;
    opacity: 0.5;
    transition: opacity .15s;
}
.msg-edit:hover {
    opacity: 1;
}

/* Talk for me */
.for-me-only .message {
    display: none;
}
.for-me-only .for-me {
    display: block;
}

/* Users lists */
.room-users {
    display: none;
    margin-left: 26px;
    padding: 0 0 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.users-group {
    margin: 18px 0 20px;
}
.users-title {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #858482;
}
.users-amount {
    margin-left: 3px;
    color: #B3B1AF;
}
.users-list {
    margin-left: 34px;
}
.users-ignored,
.users-requests {
    display: none;
}


/* User */
.user {
    border-bottom: 1px solid #CECCCA;
    box-shadow: 0 1px 0 #F3F1F0;
    padding: 8px 20px 8px 0;
    line-height: 20px;
    word-wrap: break-word;
}
.user > .userpic {
    position: absolute;
    width: 22px;
    height: 22px;
    margin: -2px 0 0 -34px;
    background-size: 24px;
    border-radius: 3px;
    cursor: pointer;
}
.user > .nickname {
    color: #807E7D;
    cursor: pointer;
}
.user em {
    position: relative;
    top: 2px;
    margin-left: 3px;
    font-style: italic;
    font-size: 14px;
    font-family: 'PT Serif', 'Georgia', serif;
    vertical-align: 2px;
}
.user .emoji {
    font-style: normal;
}
.user.me {
    position: relative;
    padding-right: 40px;
}
.user.me:after {
    content: '';
    position: absolute;
    top: 8px;
    right: 18px;
    margin-top: 3px;
    width: 15px;
    height: 15px;
    background: url('room/edit_role.svg') no-repeat;
    cursor: pointer;
}
.user.annoying .userpic,
.users-ignored .userpic {
    opacity: 0.3;
}
.user.annoying .nickname,
.users-ignored .nickname {
    color: #B8B8B8;
}

/* Room links */
.room-link {
    text-decoration: none;
    color: #58838a;
}
.room-link:hover {
    text-decoration: underline;
}
.user.annoying .room-link,
.users-ignored .room-link {
    color: #B8B8B8;
}
