body {
    background: url('side.png') #EBE9E8;
}

#about {
    position: relative;
    height: 100%;
}
#rooms {
    display: none;
}

/* Visible room */
body.in-rooms {
    background: #F6F6F6;
}
.in-rooms #about {
    display: none;
}
.in-rooms #rooms {
    display: block;
}

/* Talkrooms update */
.updated-notice {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 16px 0;
    width: 100%;
    background: #f5efdc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}
.updated-title {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 40px;
    color: #403e39;
}
.updated-reload {
    padding: 10px 0;
    color: #1270b2;
    text-decoration: underline;
    white-space: nowrap;
    cursor: pointer;
}
.updated-text {
    max-width: 920px;
    margin: 8px auto 0;
    padding: 0 40px;
    font-size: 13px;
    line-height: 17px;
    color: #66645e;
}

/* Fatal error overlay */
.fatal-error {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #F8F8F8;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    animation: fade-in .5s ease-out;
}
