.talk-header .content {
    left: 0;
    margin-right: 0;
}
.topic {
    margin: 0 42px -2px 46px;
    padding: 11px 0 0;
    font-size: 26px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-overflow: ".";
}
.toggle-side {
    left: 0;
    height: 38px;
    padding: 16px 8px 0 14px;
}

.room-settings-icon {
    right: 5px;
    top: 7px;
}
.talk-controls {
    margin-top: 18px;
    right: 6px;
}

.entry-text {
    margin: 0;
    padding: 30px 30px 40px;
}

.talk-previous {
    margin-left: 9px;
    margin-right: 9px;
}

.speech {
    margin-right: 45px;
    margin-left: 6px;
    padding-left: 58px;
    padding-right: 5px;
}
.speech-author > .userpic {
    left: -50px;
}
.speech.personal {
    padding-left: 57px;
    padding-right: 4px;
}
.message:before {
    left: -28px;
}
.msg-time {
    right: -40px;
}
.with-ny-name::after {
    left: -70px;
}

.talk-reply {
    height: 66px;
}
.talk-reply .content {
    padding: 4px 0;
}
.reply-wrapper {
    margin-right: 6px;
    margin-left: 6px;
    padding-right: 10px;
    padding-left: 57px;
}
.reply-wrapper .userpic {
    left: 7px;
}
.reply-send {
    display: none;
}

#room-settings {
    right: 20px;
    width: 360px;
}
#room-settings .popup-content {
    width: 320px;
}

.updated-notice {
    padding: 12px 0;
}
.updated-title {
    font-size: 16px;
    line-height: 19px;
}

@media (max-width: 360px) {

    #profile {
        margin-left: -20px;
        width: 320px;
    }
    #profile .popup-scroll {
        padding-left: 10px;
    }
    #profile .popup-content {
        width: 300px;
    }
    .details-photo {
        width: 300px;
    }

    #room-settings {
        width: 320px;
    }
    #room-settings .popup-scroll {
        padding-left: 10px;
    }
    #room-settings .popup-content {
        width: 300px;
    }

}
