/* Popup */
#profile {
    -webkit-font-smoothing: subpixel-antialiased;
    width: 360px;
}
#profile .popup-content {
    width: 320px;
}

/* Sections */
#profile .section {
    display: none;
    position: relative;
    margin-top: -10px;
    border-radius: 5px;
    padding: 26px 20px 16px;
    background: #FFF;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05), 0px 2px 8px 0px rgba(0,0,0,0.18);
}

/* Elements */
#profile p {
    margin: 0;
    font-size: 16px;
    line-height: 21px;
}
#profile .button {
	border: 1px solid #C7C7C7;
	border-radius: 3px;
	background: #F8F8F8;
	background-image: -moz-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: -webkit-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: linear-gradient(top, #FAFAFA, #F5F5F5);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
	cursor: pointer;
}
#profile button {
	padding: 3px 9px;
    vertical-align: top;
	font-size: 15px;
}

/* Hints */
#profile .hint {
    margin-top: 8px;
    font-size: 14px;
    line-height: 17px;
}

/* Login links */
.login-fb {
    color: #3b5998;
}
.login-vk {
    color: #45688e;
}
.login-ok {
    color: #eb722e;
}

/* Edit profile */
#profile-edit .textfield {
    margin-top: 0;
    margin-right: 16px;
}
#profile-edit .submit {
    margin-top: 10px;
}
#my-nickname {
    width: 100%;
}
#my-status {
    width: 100%;
}
.my-photo {
    margin: -16px -20px 16px;
    padding-top: 120px;
    background-color: #dfe5e5;
    background-size: cover;
    background-position: 0 35%;
}
.my-photo-update {
    display: block;
    padding: 16px;
    background: rgba(75,75,75,0.6);
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

/* Details */
.details-photo {
    margin: -16px -20px 8px;
    width: 320px;
    height: auto;
}
.details-userpic {
    display: none;
    float: left;
    background-origin: border-box;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 38px;
    height: 38px;
    background-size: 40px;
    border-radius: 4px;
}
.details-nickname {
    font-size: 18px;
    line-height: 20px;
}
.details-link {
    margin-top: 3px;
    font-size: 14px;
    line-height: 17px;
    color: #808080;
}
.details-edit {
    margin-top: 18px;
    padding: 7px 13px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}
.details-private {
    margin-top: 18px;
    padding: 7px 13px;
    border: 1px solid #EDE8DA;
    border-radius: 4px;
    background: #F0ECE1;
    text-align: center;
    color: #736F67;
    cursor: pointer;
}

/* Details without photo */
.no-photo .details-userpic {
    display: block;
}
.no-photo .details-nickname,
.no-photo .details-link {
    margin-left: 56px;
}

/* Ignores */
#profile-ignores .button {
    text-align: center;
}
.ignores-normal {
    padding: 7px 13px;
    font-size: 16px;
    line-height: 18px;
}
.ignores-apply {
    margin-top: 12px;
    padding: 7px 13px;
    font-size: 14px;
    line-height: 16px;
}
.ignores-annoying {
    position: relative;
    padding: 8px 14px;
    border-radius: 3px;
    background: #EB6B4B;
    color: #FFF;
    font-size: 16px;
    line-height: 18px;
}
.ignores-cancel {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    background: url('profile/cancel.svg') no-repeat 9px 9px;
    cursor: pointer;
}

/* Moderate */
#profile-moderate .button {
    text-align: center;
}
.moder-ignore .button,
.moder-banish .button {
    padding: 7px 13px;
    font-size: 16px;
    line-height: 18px;
}
.moder-convict {
    position: relative;
    border-radius: 3px;
    background: #EB6B4B;
    color: #FFF;
    font-size: 16px;
    line-height: 18px;
    cursor: default;
}
.moder-release {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    background: url('profile/cancel.svg') no-repeat 9px 9px;
    cursor: pointer;
}
.moder-term {
    padding: 8px 14px;
}
.moder-term-editable {
    cursor: pointer;
    box-shadow: inset 0 -1px 0 #fadad2;
}
.moder-term-options {
    display: none;
    margin: 0;
    padding: 0 4px;
    overflow: hidden;
    list-style: none;
}
.moder-term-options > li {
    float: left;
    padding: 8px 10px;
    cursor: pointer;
}
.moder-term-options > .moder-term-selected {
    margin: 5px 2px;
    padding: 3px 8px;
    border-radius: 4px;
    background: #fadad2;
    color: #CB4B2B;
    cursor: default;
}
.moder-term-past,
.moder-ignored-expired .moder-term {
    text-decoration: line-through;
    color: #fadad2;
    cursor: default !important;
}
.moder-term-select > .moder-term {
    display: none;
}
.moder-term-select > .moder-term-options {
    display: block;
}
.moder-erase {
    margin-top: 12px;
    padding: 7px 13px;
    font-size: 14px;
    line-height: 16px;
}
.ignored-hint-expired,
.moder-ignored-expired .ignored-hint-active {
    display: none;
}
.moder-ignored-expired .ignored-hint-expired {
    display: block;
}

/* Roles */
#profile-roles {
    padding: 10px 0 0 !important;
}
.roles-current {
    padding: 16px 20px;
    color: #808080;
    background: url('profile/select.svg') no-repeat 0 -20px;
    cursor: default;
}
.roles-current.editable {
    color: inherit;
    background-position: 100% 23px;
    cursor: pointer;
}
.roles-list {
    padding: 4px 20px;
    display: none;
}
.expanded .roles-current {
    display: none;
}
.expanded .roles-list {
    display: block;
}
.role {
    margin: 14px 0;
}
#profile-roles .hint {
    margin-top: 4px;
    cursor: default;
}

/* Request */
.moder-request {
    padding-right: 26px !important;
}
.moder-request .button {
    padding: 7px 3px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}
.request-approve {
    position: relative;
    margin-right: -26px;
    float: right;
    width: 50%;
    color: #00801a;
}
.request-reject {
    width: 50%;
    color: #ca3c30;
}
